<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>focus3d-portals</display-name>
	<!-- Spring ApplicationContext配置文件的路径,可使用通配符,多个路径用,号分隔 此参数用于后面的Spring Context Loader -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:context/focus3d_agent_context.xml, classpath:/context/rest/spring-rest.xml</param-value>
	</context-param>
	<context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:context/log/log4j.xml</param-value>
    </context-param>
	<!-- 编码filter -->
	<filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>requestMessageCookieFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>requestMessageCookieFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>visitLimitFilter</filter-name>
		<filter-class>
			com.focustech.focus3d.agent.filter.VisitLimitFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>visitLimitFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	 
	<!--权限验证
	<filter>
		<filter-name>authFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
	</filter>
	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	-->
	<!-- 支持REST方式的PUT和DELETE-->
	<filter>
	    <filter-name>httpMethodFilter</filter-name>
	    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>httpMethodFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 日志 -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<!--Spring ApplicationContext 载入
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	 -->
	<!-- Spring 刷新Introspector防止内存泄露 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<!-- restful -->
    <listener>
        <listener-class>org.jboss.resteasy.plugins.guice.GuiceResteasyBootstrapServletContextListener</listener-class>
    </listener>
    
	<listener>
    	<listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>  
  	</listener> 
  	 <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
	<!--spring前端控制器-->
	<servlet>
		<servlet-name>focus3d_svn_view</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/context/servlet/focus3d_agent_servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>focus3d_svn_view</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
 
	<servlet-mapping>
	    <servlet-name>resin-file</servlet-name>
	    <url-pattern>/script/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>resin-file</servlet-name>
	    <url-pattern>/js/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>resin-file</servlet-name>
	    <url-pattern>/images/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>resin-file</servlet-name>
	    <url-pattern>/style/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>resin-file</servlet-name>
	    <url-pattern>/css/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
	    <servlet-name>resin-file</servlet-name>
	    <url-pattern>/static/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>resin-file</servlet-name>
	    <url-pattern>/fonts/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>resin-file</servlet-name>
	    <url-pattern>/font-awesome/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
	    <servlet-name>resin-file</servlet-name>
	    <url-pattern>/html/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>resin-file</servlet-name>
	    <url-pattern>/htmlhome/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>resin-file</servlet-name>
	    <url-pattern>/unity3d/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>resin-file</servlet-name>
	    <url-pattern>/monitor.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>resin-file</servlet-name>
	    <url-pattern>/favicon.ico</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>resin-file</servlet-name>
	    <url-pattern>/index.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>resin-file</servlet-name>
	    <url-pattern>/crossdomain.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>resin-file</servlet-name>
	    <url-pattern>/cross-domain-policy.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>resin-file</servlet-name>
	    <url-pattern>/cross-domain-policy.dtd</url-pattern>
	</servlet-mapping>
	 <session-config>
 		<session-timeout>30</session-timeout>
 	</session-config>
	<!--===========================-->
	<!--The Usual Welcome File List-->
	<!--===========================-->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>