<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta content="网站关健字" name="keywords">
<meta content="网站描述" name="description">
<title>三维户型显示主页</title>
<!-- Bootstrap -->
<link href="/style/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/style/global.css" rel="stylesheet" type="text/css">
<link href="/style/stlye.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="/style/jquery-ui.min.css">
  <script src="/script/jquery-1.11.1.min.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="/script/html5shiv.min.js"></script>
      <script src="/script/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="clr"></div>
<!--center begin-->
  $screen_content	
<!--center end-->
<div class="clr"></div>

<script type="text/javascript" src="/script/bootstrap.min.js"></script>
<script src="/script/jquery-ui.min.js"></script>
</body>
</html>