<!--响应式导航 begin-->

<div class="navbar navbar-inverse navbar-fixed-top font_s16" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button id="nvBtn" class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
		  <span class="sr-only">导航条</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
	  </button>
	</div>
    <div class="navbar-collapse collapse" role="navigation">
      <ul id="navCmp" class="nav navbar-nav">

      </ul>
	  #if($!systemType == 0)
	  <ul class="nav navbar-nav navbar-right">
		<li>
			<a class="dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu top_lj_xl" role="menu">
			</ul>
		</li>
	  </ul>
	  #else
	  <ul class="nav navbar-nav navbar-right hidden-sm">
		<li class="n_login">

		</li>
	  </ul>
	  #end
	</div>
  </div>
</div>
<!--响应式导航 end-->
<div class="slide_container mar0 slide_container_spe hidden-xs">
  <ul class="rslides mar0" id="slider">
    <li> <img class="mar_t50" src="/images/service_ban.jpg" alt=""> </li>
  </ul>
</div>