<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="会员中心">
<meta name="viewport" content="会员中心">
<meta name="description" content="">
<meta name="author" content="">
<title>后台</title>
<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="/css/sb-admin.css" rel="stylesheet">
<!-- Morris Charts CSS -->
<link href="/css/plugins/morris.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/css/style.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper"> 
  
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="index.html">LOGO</a> </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
      <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Hi 用户名 </a> </li>
      <li class="dropdown"> <a href="/logout" >[ 退出 ]</a> </li>
      <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">[ 购物车 ]</a> </li>
      <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">[ 收藏夹 ]</a> </li>
    </ul>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li class="active"> <a href="index.html">用户中心</a>
          <p style="text-align:center;padding:10px 0px;color:#fff; line-height:40px;"><img src="/images/timg.jpg" width="200" height="100" /><br>
            用户ID</p>
        </li>
        <li> <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="glyphicon glyphicon-home"></i> 我的家园 <i class="fa fa-fw fa-caret-down"></i></a>
          <ul id="demo" class="collapse">
            <li> <a href="#">户型管理</a> </li>
            <li> <a href="#">方案管理</a> </li>
          </ul>
        </li>
        <li> <a href="javascript:;" data-toggle="collapse" data-target="#wdjy"><i class="glyphicon glyphicon-shopping-cart"></i> 我的交易 <i class="fa fa-fw fa-caret-down"></i></a>
          <ul id="wdjy" class="collapse">
            <li> <a href="/fntshoppingcart/list">我的购物车</a> </li>
            <li> <a href="#">我的交易</a> </li>
            <li> <a href="#">我的收藏</a> </li>
            <li> <a href="#">我的评价</a> </li>
          </ul>
        </li>
        <li> <a href="javascript:;" data-toggle="collapse" data-target="#zhsz"><i class="glyphicon glyphicon-cog"></i> 账户设置 <i class="fa fa-fw fa-caret-down"></i></a>
          <ul id="zhsz" class="collapse">
            <li> <a href="#">个人资料</a> </li>
            <li> <a href="#">安全设置</a> </li>
            <li> <a href="#">收货地址</a> </li>
          </ul>
        </li>
        <li> <a href="#"><i class="glyphicon glyphicon-user"></i> 网站反馈 </a>
        <li> <a href="#"><i class="glyphicon glyphicon-qrcode"></i> 关于我们 </a>
      </ul>
    </div>
  </nav>
  <div id="page-wrapper">
    <div class="container-fluid"> 
      
      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header"><p class="float_l"><small>用户中心</small></p><div class="dropdown float_r" style="margin-right:50px;">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    商品分类
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">商品分类1</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">商品分类2</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">商品分类3</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">商品分类4</a></li>
  </ul>
</div>
        <div class="clr"></div>
        </h1>
          <div class="clr"></div>
          <ol class="breadcrumb">
            <li class="active">首页 > 用户中心</li> 
          </ol>
          
        </div>
      </div>
      <!-- jQuery --> 
	  <script src="/js/jquery.js"></script> 
	  $screen_content	
      <!-- /.row --> 
    </div>
    <!-- /.container-fluid --> 
    
  </div>
  <!-- /#page-wrapper --> 
  <div style="line-height:45px; color:#666;"><p class="float_l">邮箱：123@sina.com.cn</p><p class="float_l"> 电话：025-12345678</p><p class="float_r" style="margin-right:20px;">订阅我们的邮件<input name="" type="text" style="height:20px; line-height:20px; width:200px; margin-left:20px;" /></p></div>
</div>
<!-- /#wrapper --> 
<!-- Bootstrap Core JavaScript --> 
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
