 	<input type="hidden" id="type" value="$type"/>
	<div id="div_p" class="col-sm-12">
		  <a class="btn btn-default btn-doc" href="/py">汉语拼音</a>
		  <a class="btn btn-default btn-doc" href="/xk">遨游星空</a>
		  <a class="btn btn-default btn-doc" href="/cs">科学常识</a>
		  <a class="btn btn-default btn-doc" href="/zg">我的祖国</a>
		  <a class="btn btn-default btn-doc" href="/bh">自我保护</a>
		  <a class="btn btn-default btn-doc" href="/pb">公用图片</a>
		  <a class="btn btn-default btn-doc" href="/xc">宣传画册</a>
	</div>